<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Book List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Book" asp-action="Upsert" class="btn btn-primary">
                Create
            </a>
        </div>
    </div>
    <br />
    <br />

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Discount Price</th>
                <th>Author</th>
                <th>Category</th>
                <th>Available</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/bookList.js"></script>
}


